
/* 隐藏词典列表里，词典信息的问号 */
.fas.fa-info-circle {
    display: none;
}

/* 隐藏词典图标 */
img.rounded.align-text-bottom {
    display: none;
}

.anchor-fix {
    height: 1em;
}

.mdict-title {
    font-size: 16px;
}
.mdict-list {
    overflow-x: hidden;
    overflow-y: auto;
    /* 词典列表的高度设置为自动，不会显示滚动条
     * 用于配合 Surfingkeys，防止滚动焦点停留在词典列表里
     */
    height: auto;
    outline: 1px solid rgba(0,0,0,.125);
    margin-bottom: 5px;
    font-size: 10pt;
}
.mdict-list li {
    padding: .25rem 1rem;
}

.history-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 20em;
    outline: 1px solid rgba(0,0,0,.125);
    margin-bottom: 5px;
    font-size: 10pt;
}
.history-list li {
    padding: .25rem 1rem;
}
#export-history {
    cursor: pointer;
    font-size: 10pt;
    padding: 1px 6px;
}
